#homecontainer{
    /* background-image: url("https://i.pinimg.com/originals/aa/ba/5d/aaba5de665f57065ad1ff29c3599d015.jpg"); */
    background-image: url("https://images.hdqwalls.com/download/ballet-dancer-girl-road-4k-g2-1920x1080.jpg");
    /* background-image: url("https://s1.best-wallpaper.net/wallpaper/m/1807/Dancing-girl-silhouette-ballerina-Northern-lights_m.webp"); */
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFF9wFjhmRldI3-CyLQrjruPyCpUodSa632g&usqp=CAU"); */
    /* background-image: url("https://wallpaperaccess.com/full/725441.jpg"); */
    /* background-image: url("https://images6.alphacoders.com/308/308236.jpg"); */
    /* background-image: url("https://images2.alphacoders.com/458/458118.jpg"); */
    background-size: cover;
    height: 100vh;

}
